@model IEnumerable<ZAPNET.DemoFina.Models.ModeloDF>

@{
    ViewData["Title"] = "ListaModelos";
}

<h2>Modelos de Demonstrações</h2>

<p>
    <a asp-action="AddModelo" class="btn btn-primary">Adicionar Novo Modelo</a>
</p>

@if (@ViewData["Sucesso"] != null)
{
    <div class="alert-success">@ViewData["Sucesso"]</div>
}


@foreach (var item in Model)
{
    <div class="modal-content">

        <table class="table" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <h4><strong>@Html.DisplayFor(modelItem => item.Id)</strong></h4>
                    </td>
                    <td>
                        <h4><strong>@Html.DisplayFor(modelItem => item.Nome)</strong></h4>
                    </td>
                    <td style="display:block; text-align:right">
                        @Html.ActionLink("Editar", "AddModelo", null, new { id = item.Id }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Excluir", "Excluir", null, new { id = item.Id }, new { @class = "btn btn-danger" }) |
                        @Html.ActionLink("Rubricas", "ListaContasDF", "ContaDF", new { id = item.Id }, new { @class = "btn btn-info" })
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <br />
}