@model IEnumerable<ZAPNET.DemoFina.Models.ModeloDF>

@{
    ViewData["Title"] = "ListaModelos";
}

<h2>Modelos de Demonstrações</h2>

<p>
    <a asp-action="AddModelo" class="btn btn-primary">Adicionar Novo Modelo</a>
</p>
<div class="modal-content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Excluir", "Excluir", new { @class = "btn btn-danger" }) |
                        @Html.ActionLink("Adicionar Conta", "AddContaDF", new { @class = "btn btn-success" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
