@model IEnumerable<ZAPNET.DemoFina.Models.ModeloDF>

@{
    ViewData["Title"] = "ListaModelos";
    // var MesAno = "";
}


<h2>Modelos de Demonstrações</h2>

<div class="container" @*style="border: 2px solid blue; "*@>
    <form asp-action="ListaModelos">
        <div class="form-group col-lg-4" style="padding-right:30px;">
            <label> Selecione o mês</label>
            <br />
            <!-- SELECIONAR MÊS -->
            <input type="month" id="mesAno" name="mesAno" value=@ViewData["MesAno"] data-form-date="mes-ano" style="height: 33px" />
            <button type="submit" class="btn btn-success" data-btn-mes-ano="mes-ano"><strong>OK</strong></button>
            <button class="btn btn-danger" data-btn-cancel-mes-ano="mes-ano"><strong> &Chi; </strong></button>
        </div>
    </form>
    <div class="col-lg-4 mesAno" style="text-align:center">
        <p class="lblMesAno" style="display:none">@ViewData["MesAno"]</p>
    </div>

    <div id="addModelo" class="col-lg-4" style="padding-top: 18px; text-align:right;">
        <a asp-action="AddModelo" class="btn btn-primary">Adicionar Novo Modelo</a>
    </div>
</div>



@if (@ViewData["Sucesso"] != null)
{
    <div class="alert-success">@ViewData["Sucesso"]</div>
}

<div data-table-modelos="modelos">
    @foreach (var item in Model)
    {

        <div class="modal-content" style="display:block">

            <table class="table" style="margin-bottom: 0px;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <h4><strong>@Html.DisplayFor(modelItem => item.Id)</strong></h4>
                        </td>
                        <td>
                            <h4><strong>@Html.DisplayFor(modelItem => item.Nome)</strong></h4>
                        </td>
                        <td style="display:block; text-align:right">
                            @Html.ActionLink("Editar", "AddModelo", null, new { id = item.Id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Excluir", "Excluir", null, new { id = item.Id }, new { @class = "btn btn-danger" }) |
                            @Html.ActionLink("Rubricas", "ListaContasDF", "ContaDF", new { id = item.Id }, new { @class = "btn btn-info" })
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <br />
    }

</div>

<!--
    Verifiricar Aula 1 - da parte 2 do Curso ASP.NET Core
    fala sobre Javascript e AJAX, que servirá para setar o
    mês e ano da seção abaixo
-->


@section Scripts {

    <script src="~/js/modelo-df.js"></script>

}