@model IEnumerable<ZAPNET.DemoFina.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
}

<h2 class="modal-header" style="display:block; text-align:center"><strong>Empresas</strong></h2>



<div class="container">
    <div class="col-lg-6">
        <a type="button" asp-action="CadastroEmpresa" class="btn btn-primary">Cadastrar Empresa</a>
    </div>
    <div class="col-lg-6" style="text-align:right">
        <a type="button" asp-controller="Home" asp-action="Index" class="btn btn-warning" style="text-align:right">Voltar</a>
    </div>
</div>
<br />


<div class="container">

    @foreach (var item in Model)
    {
        <div class="modal-content">
            <table class="table">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RazaoSocial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeFantasia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CNPJ)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Segmento)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.RazaoSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeFantasia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Segmento)
                        </td>

                        <td style="display: block; text-align: right">
                            @Html.ActionLink("Editar", "Editar", null, null, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Detalhes", "Detalhes", null, null, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Excluir", "Excluir", null, null, new { @class = "btn btn-danger" })
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
        <br />
    }


</div>