@model IEnumerable<ZAPNET.DemoFina.Models.ContaDF>

@{
    ViewData["Title"] = "ListaContasDF";

}

<div style="display:block; text-align:center">
    <h2>@Html.DisplayFor(model => model.First().ModeloDF.Id) - @Html.DisplayFor(model => model.First().ModeloDF.Nome) </h2>
</div>

<div class="container">
    <div class="col-sm-6">
        <a asp-action="AddContaDF" asp-route-id=@Model.First().ModeloDF.Id class="btn btn-primary">Nova Conta</a>
    </div>
    <div class="col-sm-6" style="text-align:right; padding-right:50px">
        <a asp-controller="ModeloDF" asp-action="ListaModelos" class="btn btn-warning">Voltar</a>
    </div>
</div>
<br />

<div class="modal-content">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>
                    Código
                </th>

                <th>
                    Rubrica
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Natureza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classe)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoContaDF)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Natureza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classe)
                    </td>
                    <td style="text-align:right">
                        @Html.ActionLink("Editar", "Editar", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Detalhe", "Detalhe", new { /* id=item.PrimaryKey */}, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Excluir", "ExcluiContaDF", new {id = item.Id }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Relacionar Cosif", "RelacionarCosif", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>